@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

html, body{
    font-family: roboto;
    display: flex;
}

#best-phrase-container {
    width: 30rem;
    height: 30rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#all-phrases-container {
    width: 50%;
    height: 100vh;
    overflow: hidden;
}