<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="main.css">
    <title>Movement Graph</title>
</head>
<body>
<div id="best-phrase-container">
    <h1>TARGET: </h1>
    <h2 id="target"></h2>
    <h1>BEST PHRASE: </h1>
    <h2 id="best-phrase"></h2>
    <h2 id="stats"></h2>
    <div>
        <h1>total generations</h1>
        <h1 id="current-gen"></h1>
    </div>
    <div>
        <h1>Average Fitness: </h1>
        <h1 id="average-fitness"></h1>
    </div>
    <div>
        <h1>Population: </h1>
        <h1 id="total-population"></h1>
    </div>
    <div>
        <h1>Mutation Rate: </h1>
        <h1 id="mutation-rate"></h1>
    </div>
</div>
<div id="all-phrases-container">
    
</div>
</body>
<script src="./DNA.js"></script>
<script src="./population.js"></script>
<script src="./main.js"></script>
</html>
